<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">
        Tâches à faire
    </a>
    <a href="/all-tasks-done.html" class="list-group-item list-group-item-action">
        Voir les tâches terminées
    </a>
    <a href="/add-task.html" class="list-group-item list-group-item-action">
        Ajouter une tâche
    </a>
</div>